html{
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    background-image: url("./img/space.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container a{
    position: absolute;
}

.button{
    position: absolute;
    opacity: 0;
    /* transition: ease 1.5s; */
}

.portal {
    width: 0px;
    margin-bottom: 50px;
    margin-right: 50px;
    opacity: 0;
    transition: ease 1.5s;
}

#startButton {
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    overflow: hidden;
    transition: transform 0.3s ease;
    font-family: sans-serif;
    text-align: center;
    margin: 0 15px;
  }
  
  #startButton::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -200%;
    width: 400%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: rotate(-45deg) translate(-50%, -50%);
    transition: left 0.3s ease;
    z-index: -1;
  }
  
  #startButton:hover {
    transform: scale(1.1);
  }
  
  #startButton:hover::before {
    left: 100%;
  }
  
  .portalGun{
    position: absolute;
    bottom: -60px;
    transform: 0.5s ease-out;
  }

  .portalGun img {
    width: 220px;
  }

  .portalGunContent{
    position: relative;
  }

  .glowing {
    position: absolute;
    top: 20%;
    left: 51%;
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 74px;
    height: 120px;
    border-radius: 30%;
    background-color: rgba(0, 255, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
    animation: glow 1s ease-in-out infinite;
  }
  
  .portalGunBtn{
    position: absolute;
    bottom: 26%;
    left: 41%;
    border-radius: 50%;
    height: 47px;
    width: 40px;
  }

  .portalGunBtn:hover{
    cursor: pointer;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(0, 255, 0, 0.9);
    }
    100% {
      box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
    }
  }
  
  @media (max-width: 564px) {
    .portal {
        margin-bottom: 30px;
        margin-right: 20px;
    }

    .portalGun img {
        width: 170px;
    }
    .glowing{
        width: 57px;
        height: 90px;
    }
    .portalGunBtn {
        bottom: 24%;
        left: 39%;
    }
  }